body {
  background-color: rgb(212, 215, 218);
}

.img-nav {
  border-radius: 100%;
  width: 90px;
  height: 90px;
}
@media (max-width: 576px) {
  .img-nav {
    width: 50px;
    height: 50px;
  }
  .a-cel {
    font-size: 0.9rem;
  }
}



.a_link {
  border-radius: 1rem;
  transition: 0.2s;
}

.a_link:hover {
  background-color: #d8e0e9;
  transform: scale(1.05);

}

.navbar-brand img {
  transition: 0.3s ease;
}

/* Navbar cuando se hace scroll */
.navbar.scrolled {
    background-color: #24282c !important;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

/* Texto blanco dentro del navbar */
.navbar.scrolled .navbar-brand,
.navbar.scrolled .navbar-brand small,
.navbar.scrolled .nav-link {
    color: #ffffff !important;
}

/* Color blanco para el ícono del botón móvil */
.navbar.scrolled .navbar-toggler-icon {
    filter: invert(1);
}

/* Opcional: color blanco del borde del toggler */
.navbar.scrolled .navbar-toggler {
    border-color: #ffffff;
}

/* Cuando la navbar tenga la clase "scrolled", ocultamos SOLO el logo */
.navbar.scrolled .navbar-brand img {
  opacity: 0;
  width: 0;
  visibility: hidden;
  height: 30px; /* opcional: reducir también el logo si aún lo muestras */
}


/* Estilos para las tarjetas con efecto hover */

.card-info{
  background-color: #cedceb;
  transition: 0.3s ease;
}

.card-info:hover {
  background-color: white;
  box-shadow: gray 0px 0px 10px 2px;
  transform: scale(1.05);
}
